.text-decoration-none {
    text-decoration: none;
}

.font {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #34b79d;
}

.font:hover {
    background-color: white;
}

.navHead-link {
    color: black;
}

.navHead-link:hover {
    font-weight: 900;
    background-color: #34b79d;
    padding: 5%;
    border-radius: 10%;
    color: white;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.navbar-nav .nav-item .nav-link:hover {
    font-weight: 600;
    color: #34b79d;
}

.navBar-top:hover {
    background-color: white;
}

.text-c1 {
    color: #34b79d;
}

.bg-c1 {
    background-color: #34b79d;
}

.dropdown-menu {
    background-color: transparent;
    padding: 0%;
    border: 0px;
}

.dropdown-menu .dropdown-item {
    background-color: #34b79d;
    /* border-bottom: 1px double black; */
    border-radius: 5px;
    margin-top: 0.2rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: white;
    color: black;
    border: 0px;
}

.float-content {
    float: right;
}

@media screen and (max-width: 992px) {
    .float-content {
        float: none;
    }
}

.border-c1 {
    border-bottom: 1px solid black;
}

.border-c2 {
    border: 1px solid #34b79d;
}

.blacktransform {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    transform: translate(0%, -200%);
    opacity: 0;
    z-index: 0;
}

.blacktransformparent {
    overflow: hidden;
    border-radius: 1.5rem;
    /* height: 300px; */
}

.blacktransformparent:hover .blacktransform {
    position: absolute;
    transform: translate(0%, -100%);
    transition: all 1s;
    opacity: 1;
}

.blacktransformchild {
    border: solid 0.2rem white;
    border-radius: 0.5rem;
    background: transparent;
    padding: 0.5rem;
    color: white;
}

.blacktransformchild:hover {
    background-color: white;
    color: black;
}

.loader-background {
    background-color: #34b79d;
}


/* 
.loader-inner {
    background-color: rgba(0, 0, 0, 0.1);
    height: 80vh;
}

.spinner-wrapper {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.spinner-border {
    width: 10rem;
    height: 10rem;
    border: 0.7rem solid black;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-text {
    color: black;
    font-weight: bold;
    text-align: center;
} */

.loader-inner {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: inset -10px -10px 15px rgb(240, 91, 40), inset 10px 10px 10px rgba(52, 183, 157, 0.1);
}

.wrapper::before {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: -10px -10px 25px rgba(240, 91, 40, 1), 10px 10px 10px rgba(240, 91, 40, 0.1);
}

.spanball {
    height: 186px;
    width: 220px;
    position: absolute;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.spanball::before {
    content: "";
    position: absolute;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    background: linear-gradient(45deg, white, #f05b28);
    box-shadow: 0 5px 10px rgb(52 183 157 / 20%);


}

.HoverEffect {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}


.HoverEffect:hover img {
    transform: scale(1.2);
    opacity: 0.5;
    transition: all 5s;
    color: #34B79D;
    cursor: pointer;

}

.READMOREBUTTON {
    transition: transform 1.6s;
    background-color: #F0EEED;
    cursor: pointer;
}

.READMOREBUTTON:hover {
    color: #34B79D;
    background-color: black;
}


/* 
.AboutUS_bgImg {
    background-image: url(../../Images/AboutUsBackgoundImg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-color: transparent;
    opacity: 1;
    height: 100vh;
    border-bottom: 2px solid white;
} */

.sd {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .47) 50%, #000 100%);
    height: 100vh;
}



.Office_Team_bgImg {
    background-image: url(../../Images/Office_team.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-color: transparent;
    opacity: 1;
    border-bottom: 2px solid white;
}

.sd {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .47) 100%, #000 100%);

}

.abc {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .47) 50%, #000 100%);

}





.FontFamily {
    font-family: 'Alata', sans-serif;
}

.FontFamily1 {
    font-family: 'Poppins', sans-serif;
}




.FOOTERLINK {
    color: #8e8e8e;
}

.FOOTERLINK:hover {
    color: white;
}


.RMIbtn {
    color: #59abf4;

}

.RMIbtn:hover {
    color: #446084;
}


.borderRMI {

    border-bottom: 2px solid #446084;
    width: 22%;
    cursor: pointer;
}

.borderRMI:hover {
    border-bottom: 2px solid #446084;
    width: 24%;
    transform: scale(1.9);
    cursor: pointer;
}

.HoverEffect:hover img {
    transform: scale(1.8);
    cursor: pointer;
}

.HoverEffect {
    overflow: hidden;
    transition: 5s;
}




.BUYBUTTON {
    transition: transform 1.6s;
    background-color: #DC3545;
    cursor: pointer;
}

.BUYBUTTON:hover {
    background-color: black;
}


.LOGINBUTTON {
    transition: transform 1.6s;
    overflow: hidden;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border: 1px solid gray;
    border-radius: 1rem;

}

.LOGINBUTTON:hover {

    color: black;
    transform: scale(1.1);
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.SIGNUPBUTTON {
    transition: transform 1.6s;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.SIGNUPBUTTON:hover {
    color: black;
    transform: scale(1.1);
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.fontFamilyHeader {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.fontFamilyHeader1 {
    font-family: 'Kanit', sans-serif;
}

.SolutionDropDownFontFamily {
    font-family: 'Kanit', sans-serif;
}

.SolutionDropDownFontFamily1 {
    font-family: 'Kanit', sans-serif;
    line-height: 40px;
}

.SolutionDropDownFontFamily2 {
    font-family: 'Kanit', sans-serif;
    line-height: 23px;
}

.SolutionDropDownFontFamily3 {
    font-family: 'Kanit', sans-serif;
    line-height: 35px;
}

.SolutionDropDown {
    font-family: 'Roboto', sans-serif;
}


.h1FontFamily {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.h1FontFamily1 {
    font-family: 'Ubuntu', sans-serif;
}

.h1FontFamilyLineHeight {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    line-height: 50px;

}